<p id="notice"><%= notice %></p>

<h1>Home Page</h1>

<br>

Welcome to the 'Deal-A-Day' Import! 

<br><br>

This interface allows you to do the following:
<ul>
  <li>Import a CSV file full of purchase data</li>
  <li>View a table of all imported data to date</li>
</ul>

<br><br>

To start, click 'Import Purchases' then upload a file. Or you can view all the data by clicking 'View All Purchases'.