<!DOCTYPE html>
<html>
  <head>
    <title>Deal A Day Import</title>
  </head>

  <body>
    <%= yield %>
  </body>
  
  <br><br><br>
  
  <hr>
  
  <%= link_to 'Home', root_path %>
  
  <br>	
  
  <%= link_to 'Import Purchases', new_file_upload_path %>
  
  <br>
  
  <%= link_to 'View All Purchases', purchases_path %>
  
  <br>

</html>
